@import url(../css/clash-display.css);

:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px, 15px, 25px,  rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
} 
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body)
}
h1,h2,h3,h4,h5,h6
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}
a:hover {
    color: var(--c-brand-light);
}
img {
    max-width: 100%;
    height: auto;
}
.section-padding {
    padding-top: 140px;
    padding-bottom: 140px ;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}
/*nav bar*/
.navbar {
    box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/*btn*/
.btn {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}
.btn-brand {
    background-color: var(--c-brand);
    border-color:var(--c-brand) ;
    color: white;
}
.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/ds.jpg);
}

.setion-title {
    margin-bottom: 60px;
}
.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*icons*/
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
} 
/*service*/
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background:rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    right: 0;
    bottom: 0;
    transition: var(--transition);

}

.service:hover::after {
    width: 100px;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;

}
.service:hover h5,
.service:hover p {
    color: white;
}
.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* CSS */
#about .col-lg-6 img {
    margin-bottom: 285px; /* Dodajte margine na vrhu slike */
  }
  

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
}
.popup{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15 );
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
 
}
.popup .active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.popup .form .form-element {
    margin: 15px 0px;
}
.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}
.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

